@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    
    
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(247, 247, 247);
    overflow-x: hidden;

}
.site-logo{
    cursor: pointer;
}
.site-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(25, 25, 53);
    font-size: 24px;
    font-weight: bold;
}
.menu-list{
    display: flex;
    list-style: none;
    color: #fff;
    gap: 18px;
}

.menu-list2{
    gap: 5px;
    margin-left: 2px;
    margin-right: 10px;
}
.menu-list a{
    color: #fff;
}
.menu-list a:hover, .menu-list li:hover{
    background-color: #fff;
    color: rgb(25, 25, 53);
    border-radius: 8px;
    padding: 2px;
    transition: 0.45s;
    cursor: pointer;
}
.site{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-main{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    margin-top: 24px;
    flex-grow: 1;
}
.site-main .image-principal{
    border-radius: 10px;
    width: auto;
}
.main-cards{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}
.subtitle-main{
    text-align: center;
    color: rgb(25, 25, 53);
    margin: 40px 0;
}
.cards{
    display: flex;
    gap: 56px;
}

.cards-items{
  background-color: rgb(25, 25, 53);
  width: 180px;
  height: 280px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgb(25, 25, 53,0.87);

}

.cards-items img{
    width: 60%;
    height: 150px;
    border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  justify-content: center;
  margin-left: 20%;
  margin-top: 5%;
}

.cards-items h3, .cards-items h4{
    color: #fff;
    padding: 8px 8px 0 8px;
}
.main-grid h2{
    text-align: center;
    color: rgb(25, 25, 53);
    margin: 40px 0 10px 0;


}
.image-list {
    padding: 30px;
    list-style: none;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;

}

.image-item img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.image-item a{
    cursor: pointer;
}

.image-item:hover{
    transition: 0.5s;
}
 #boston:hover{
    box-shadow: 5px 5px 8px rgb(110, 180, 70);
}

#lakers:hover{
    box-shadow: 5px 5px 8px rgb(253, 231, 35);
}
#warriors:hover{
    box-shadow: 5px 5px 8px rgb(61, 144, 211);
}
#bulls:hover{
    box-shadow: 5px 5px 8px rgb(243, 71, 65);
}
#preto:hover{
    box-shadow: 5px 5px 8px rgb(13, 17, 11);
}
#detroit:hover{
    box-shadow: 5px 5px 8px rgb(6, 43, 78);
    
}
#phila:hover{
    box-shadow: 5px 5px 8px rgb(14, 58, 255);
}
#denver:hover{
    box-shadow: 5px 5px 8px rgb(13, 60, 104);
}

.site-footer{
    display: flex;
    background-color: rgb(25, 25, 53);
    color: #fff;
    justify-content: center;
}

.site-form{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
}
.site-form input{
    border-radius: 16px;
}

.linha-footer{
    margin: 20px 0;
    padding: 1px;
    width: 0.5px;
    height: auto;
    background-color: #fff;
}

.lado2{
    padding: 30px;
}



.button-form{
    margin-top: 6px;
    padding: 4px;
    border-radius: 8px;
    background-color: #fff;
    color: rgb(25, 25, 53);
    cursor: pointer;
}

.button-form:hover{
    background-color: steelblue;
    color: #fff;
    transition: 0.4s;
}



@media (max-width: 1100px){
    .image-list{
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-auto-flow: row;
        justify-content: center;
        grid-template-columns: repeat(2,1fr); 
        grid-template-rows: repeat(4, 1fr);
        gap: 10px; 
    }
}
@media (max-width: 717px) {
    .site-main .image-principal {
      width: 300px;
    }
    .image-list{
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-auto-flow: row;
        justify-content: center;
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(9, 1fr);
        gap: 10px; 
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .site-footer{
        flex-direction: column;
        overflow: hidden;
    }

    .linha-footer{
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    .site-form{
        justify-content: center;
        align-items: center;
    }
    input, button{
        width: 60%;
    }

  }